/* Descendent Selector */

/* section div p {
    background-color: yellow;
    color:green;
} */

/* Child Selector */

/* div{
    padding: 10px;
} */

/* article > div{
    background-color:green;
}

article > div > p{
    background-color: orange;
} */

/* article  p{
    background-color: blue;
} */


/* Next Sibling Selector */

/* span{
    display: block;
}

section + span {
    background-color: green;
} */

/* Subsequent Sibling Selector */

/* span{
    display: block;
}
*/
/* section ~ span {
    background-color: orange;
}  */

/* Pseudo Class Selectors */

 /* h1:first-child{
    background-color: red;
    color:white;
}  */

/* p:first-child{
    background-color: green;
    color:white;
}  */

/* h1:last-child{
    background-color: red;
    color:white;
} */

/* p:last-child{
    background-color: green;
    color:white;
}  */

/* h1:first-of-type{
    background-color: red;
    color:white;
} */

/* h1:last-of-type{
    background-color: red;
    color:white;
} */

/* h1:nth-child(6){
    background-color: red;
    color:white;
} */

/* h1:nth-last-child(4){
    background-color: red;
    color:white;
} */

/* h1:nth-of-type(5){
    background-color: red;
    color:white;
} */

/* h1:nth-last-of-type(4){
    background-color: red;
    color:white;
} */

/* h1:only-child{
    background-color: red;
    color:white;
} */
/* 
div h1:first-child{
    background-color: green;
} */
 header > h1:nth-of-type(7){
    background-color: green;
 }
 header > h1:nth-of-type(10){
    background-color: green;
 }
 header > div h1:nth-of-type(2){
    background-color: green;
 }
 header >  p:nth-of-type(3){
    background-color: green;
 }
header > section div h1:nth-child(5){
    background-color: green;
}
header > div section div h1:first-child{
    background-color: green;
}
header > div section div h1:nth-of-type(2){
    background-color: green;
}
header > span h1 :nth-of-type(2){
    background-color: green;
}



header >  h1:last-child{
    background-color: green;
}
header >  h1:nth-last-of-type(8){
    background-color: green;
}
header > h1:nth-child(17){
    background-color: green;
}
header > span h1:nth-child(2){
    border-color: green;
    
}
header > p:nth-of-type(6){
    background-color: green;
}