
.profile-card{
    height: 240px;
    width: 800px;
    border: 7px solid red ;
    border-radius: 30px;
    outline: 20px solid rgb(87, 87, 146);
    outline-offset: 20px;
    margin-top: 50px;
    text-align: center;
    font-family: poppins;
    font-size:1.05rem;
    text-decoration:underline;
    letter-spacing: 0.9;
}


.quote-card{
    height: 0px;
    width: 160px;
    
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid #323058;
    border-right: 5px solid #323058;
    font-style: italic;
    font-size: 10px;
    font-family: Poppins;
    outline-offset: 20px ;
    letter-spacing: 0.9px;
    margin-top: 80px;
    
   
    
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.title{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 48px;
    text-align: center;
    margin-top: 80px;
    border: 10px solid #323058;
    outline: 5px  solid burlywood;



}
.info-card{
    height: 200px;
    width: 800px;
    border: 2px solid blue;
    margin-top: 15px;
    border-radius: 10px;
    outline: 2px solid orange;
    outline-offset: 20px;
    text-align: justify;
    font-weight: 600;
    font-variant:calc(10px);
    margin-top: 80px;
    text-align: center;

}
.magic-btn{
    margin-top: 40px;
}
.button{
    font-size:large;
}
.magic-btn .button:hover{
    
    text-decoration:underline ;
    letter-spacing: 2px;
    border: 3px solid blue;
}
