 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f0;
      
    }

    .tooltip {
      position: relative;
      display: inline-block;
      font-size: 20px;
      padding: 10px 20px;
      background: #3498db;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 6px 12px;
      border-radius: 4px;
      position: absolute;
      bottom: 125%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: 0.3s;
      white-space: nowrap;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }